POSTGRES_DB=sutil_nfe
POSTGRES_USER=sutil_nfe
POSTGRES_PASSWORD=change-me-local-only
POSTGRES_PORT=5432

SERVER_PORT=8080
APP_PORT=8080
NFE_BASE_PATH=/app/NFEs

SPRING_DATASOURCE_URL=jdbc:postgresql://sutil-nfe-db-local:5432/sutil_nfe
SPRING_DATASOURCE_USERNAME=sutil_nfe
SPRING_DATASOURCE_PASSWORD=change-me-local-only
